body {
  background-image: url('night_sky.jpg');
  background-repeat:no-repeat;
  text-decoration: none;
  background-size:cover;
  color:white;
}
.nav-right{
    float: right;
}
A{text-decoration: none;}

.card {
  background-image: url('black.jpg');
  text-align: center;
  display: inline-grid;
  margin: 3%;
  border : none;
  background-repeat:no-repeat;
  background-size:cover;
}

.card-link{
color:White;
}

h1,h2,h3,h4,h5,h6{
text-align:center;
margin:10px;
}

.card:hover{
  transition: 0.3s;
    box-shadow: 0 0 5px 5px aqua;

}




.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
