{% extends 'base.html' %}

{% block content %}


<h1>Greetings Home</h1>


{% for greeting in object_list %}
        <a class="card-decks col-3" href="{% url 'SingleGreeting' greeting.pk %}">
            <div class="card-body">
                <h4 class="card-title">{{ greeting.Greeting_Title }}</h4>
                <p class="card-text">By-{{ greeting.author}} </p>
                <p class="card-text">{{ greeting.message }}</p>
                <a class="btn btn-primary" href="{% url 'edit_Greeting' greeting.pk %}" role="button">UPDATE</a>
                <a class="btn btn-secondary" href="{% url 'delete_Greeting' greeting.pk %}" role="button">DELETE</a>
            </div>
        </a>
{% endfor %}


{% endblock %}